.btn {

}

.btn-round {
  border-radius: 50%;
  background-color: var(--orange);
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  box-shadow: 0px 1px 1px -5px #000000e0;
  transition: all ease 0.2s;
  svg {
    margin: 5px;
  }

  &:hover {
    box-shadow: 0px 5px 11px -5px #000000e0;
    color: #fff;
    transform: scale(1.1);
  }
}