@import 'src/scss/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Assistant:400|Josefin+Sans');
@import 'src/scss/variables.scss';

@import 'src/scss/links.scss';


body {
	font-family: 'Assistant', sans-serif;
	font-size: 16px;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Josefin Sans', sans-serif;
	}
}